    <div class="card">

      <div class="img-frame trigger" >
        <!-- The Modal -->
        <!-- Button trigger modal -->

        <%= render partial: "shared/modal_show", locals: { item: item } %>

      </div>
      <div class="card-store"><%= item.original_store %></div>
      <div class="card-item-name">
        <%= item.name %>
      </div>
      <div class="card-item-price">
        <p><%= item.price %></p>
      </div>
      <!-- <p>Your price goal: <%= item.user_price %></p> -->
      <%#= link_to "", item_path(item), method: :delete,  data: { confirm: " Are you sure you want to delete this item?" }, class: "fa fa-trash" %>
      <%#= link_to "", edit_item_path(item), class: "fa fa-pencil" %>
      <div class="card-button">
        BUY
      </div>

    </div>
