<div class="navbar-wagon-item navbar-wagon-link" data-toggle="modal" data-target="#myModal" id='notification-navbar'>
  <% if Notification.joins(:item).where(items: { user_id: current_user}).all %>
  <% Notification.joins(:item).where(items: { user_id: current_user}).all.any? %>
    <% notifications = Notification.joins(:item).where(items: { user_id: current_user}).all.any? { |notification| notification.new_notification } %>
    <%= button_to "notification", update_new_notifications_path, remote: true, id: "notification-button", class: "navbar-wagon-item navbar-wagon-link #{'notification-true' if notifications }" %>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= "Notifications" %></h4>
      </div>
      <div class="modal-body-notifications">
        <div class="container-fluid">
          <div class="row">
            <% if Notification.joins(:item).where(items: { user_id: current_user}).all %>
              <% Notification.joins(:item).where(items: { user_id: current_user}).all.reverse.each do |notification| %>
                <% if notification.read %>
                  <div data-toggle="modal" data-target="#myModal-<%= notification.item.id %>" class="notification-read">
                  <!-- <div id="notification-read"> -->
                      <p> The price for <b><%= notification.item.name %></b> from <b><%=notification.item.original_store%></b> dropped from <b><%= notification.old_price%>€</b> to <b><%=notification.new_price%>€</b>
                      </p>
                  </div>
                <% else %>
                  <div data-toggle="modal" data-target="#myModal-<%= notification.item.id %>" class="notification-unread" data-url="<%= update_notification_url %>" id="notification-toggle-<%=notification.id%>">
                    <%= button_to update_notification_path(id: notification.id), remote: true, class: "notification-text" do %>
                      <p> The price for <b><%= notification.item.name %></b> from <b><%=notification.item.original_store%></b> dropped from <b><%= notification.old_price%>€</b> to <b><%=notification.new_price%>€</b>
                      </p>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
