
<!-- Modale Trigger -->
<button type="button" data-toggle="modal" data-target="#myModal-<%= item.id %>">
  <% if item.notification %>
  <%= image_tag 'price-notification.png', id:'price-notification' %>
  <% end %>
  <%= image_tag item.src, id:'img', data:{ id: item.id }%>
</button>
<!-- Modale Trigger -->

<!-- Modal -->
<div class="modal fade" id="myModal-<%= item.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= item.name %></h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-9">
              <div style="height: 300px">
                <%= image_tag item.src, id:'img', data:{ id: item.id }, :style => "height: 100%"%>
              </div>
            </div>
            <div class="row">
              <div class="col-8 col-sm-6"> <br>
                <strong>Price:</strong> <%= item.price %>€ <br>
                <strong>Target Price:</strong> <%= item.user_price %>€
              </div>
              <div class="col-4 col-sm-6"> <br>
                <strong>Store:</strong> <%= item.original_store %>
              </div>
            </div>
          </div>
          <!-- Price Chart -->
          <div> <br>
            <%= line_chart item.prices.group(:created_at).sum(:price_cents).map{|date,value| [date.strftime("%e %b"), value] }.sort_by { |x| DateTime.parse(x[0])} %>
            <!-- - %H:%M" Hours-->
          </div>
          <!-- Price Chart -->
        </div>
      </div>
      <div class="modal-footer">
        <div class="checkbox">
          <label class="pull-left"><input type="checkbox" value="">Notify Me</label>
        </div>
        <a href="<%= item.url %>" target="_blank" class="btn btn-primary">BUY</a>
      </div>
    </div>
  </div>
</div>
