<div class="navbar-wagon-item navbar-wagon-link" data-toggle="modal" data-target="#myModal" id='notification-navbar' data-url="<%= update_new_notifications_url %>">
  <% if Notification.all %>
    <% if Notification.all.any? { |notification| notification.new_notification } %>
      <%= button_to "notification", update_new_notifications_path, remote: true, class: "navbar-wagon-item navbar-wagon-link", id: "notification-true" %>
    <% else %>
      notification
    <% end %>
  <% end %>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= "Notifications" %></h4>
      </div>
      <div class="modal-body-notifications">
        <div class="container-fluid">
          <div class="row">
            <%  current_user.items.each do |item| %>
              <% if item.notifications  %>
                <% item.notifications.each do |notification| %>
                  <% if notification.read %>
                    <div id="notification-read">
                      <p> The price for <b><%= item.name %></b> from <b><%=item.original_store%></b> dropped from <b><%= notification.old_price%>€</b> to <b><%=notification.new_price%>€</b>
                      </p>
                    </div>
                  <% else %>
                    <div id="notification-unread" data-url="<%= update_notification_url %>">
                      <p> The price for <b><%= item.name %></b> from <b><%=item.original_store%></b> dropped from <b><%= notification.old_price%>€</b> to <b><%=notification.new_price%>€</b>
                      </p>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
