<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= cl_image_tag("SaveItLogo.png", height: 50)%>

  <% end %>

  <%= simple_form_for Item.new, html: {class: 'form-inline'} do |f| %>
  <%= f.input :url, placeholder: "*******", label: false%>
  <%= f.submit "start saving", class: "btn btn-primary" %>
  <% end %>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

    <!-- Links when logged in -->
    <%= link_to "Wish-List", "#", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "My Items", user_dashboard_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Notifications", "#", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Profile", user_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to destroy_registration_session_path, method: :delete do %>
    <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
    <% end %>

    <!-- Avatar with dropdown menu -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <% if current_user.try(:photo)%>
        <%= cl_image_tag current_user.photo.path, class:"avatar dropdown-toggle", id:"navbar-wagon-menu", data: {toggle: 'dropdown'}%>
        <% else %>
        <%= image_tag "avatar.png", class:"avatar dropdown-toggle", id:"navbar-wagon-menu", data: {toggle: 'dropdown'}%>
        <% end %>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to "#" do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
            <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_registration_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <% else %>
    <!-- Login link (when logged out) -->
    <%= link_to t(".sign_in", default: "Login"), new_registration_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

