<div class="navbar-wagon">
  <!-- Logo -->

  <%= link_to "Save it", "/", class: "logo" %>
  <div class="line"></div>

 <%#= simple_form_for Item.new, html: {class: 'form-inline'} do |f| %>
    <%#= f.input :url, placeholder: "*******", label: false%>
    <%#= f.submit "start saving", class: "btn btn-medium" %>
  <%# end %>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>


      <!-- Links when logged in -->
      <%= link_to "Wish-List", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "My Items", user_dashboard_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Notifications", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Profile", user_path(current_user), class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to destroy_registration_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link" do %>
                 <%= t(".sign_out", default: "Log out") %>
              <% end %>
      <% else %>
      <%= link_to new_registration_session_path, class: "navbar-wagon-item navbar-wagon-link" do %>
                 <%= t(".sign_out", default: "Log in") %>
                 <% end  %>
      <%= link_to new_registration_registration_path, class: "navbar-wagon-item navbar-wagon-link" do %>
                 <%= t(".sign_out", default: "Sign up") %>
                 <% end  %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
</div>

