<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Browse it, Save it, Track it, Buy it!</title>
  <%= favicon_link_tag "favicon.jpg" %>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

  <!-- Search meta tags -->
  <meta name="description" content="Browse it, Save it, Track it, Buy it!">
  <meta name="keywords" content="shopping,track,price,save,aggregate,paste">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Facebook meta tags -->
  <meta property="og:url" content="http://save-it.herokuapp.com/" />
  <meta property="og:type" content="profile" />
  <meta property="og:title" content="Save It!" />
  <meta property="og:description" content="Browse it, Save it, Track it, Buy it!" />
  <meta property="og:image" content="<%= image_path 'SMpic.png'%>" />

</head>
<body class="<%= params[:controller] %>-<%= params[:action] %>">
  <%= link_to "Save it", root_path, class: "floating-logo hidden"  %>
  <%= render 'shared/borders' %>
  <%= render 'shared/navbar' %>
  <%= render 'shared/tabs' %>
  <%= render 'shared/flashes' %>
  <div class="all-content">
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
  <!-- JS for Modale -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <!-- JS for Modale -->
  <script src="https://cdn.jsdelivr.net/npm/theaterjs@latest/dist/theater.min.js"></script>
  <!-- Application.js -->
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
  <!-- JS for price chart -->
  <%= yield :charts_js %>
  <!-- JS for price chart -->
  <!-- Application.js -->
  <%= yield(:js) %>

</body>
</html>

